# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

.env*

.idea

.client

.npmrc

postman/.generated

.vscode

# Prettier config
.prettierrc
.prettierignore

# Prisma
prisma/.generated
prisma/*/migrations

layers*

coverage

lib